@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
  font-family: Karla;
  src: url('/fonts/karla-regular.ttf');
}


body {
  font-family: Arial, Helvetica, sans-serif;
}
